{{ if eq .chezmoi.os "darwin" -}}
export PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"
{{ end }}
echo -------- NEW STARTUP ----------- >> ~/init.txt
echo started at $(date +"%T.%3N") >> ~/init.txt

echo zplug start $(date +"%T.%3N") >> ~/init.txt
# ZPLUG START
source ~/.zplug/init.zsh

# zplug "romkatv/powerlevel10k", as:theme, depth:1
zplug "modules/environment", from:prezto
zplug "modules/editor", from:prezto
zplug "modules/history", from:prezto
zplug "modules/completion", from:prezto
# zplug "spaceship-prompt/spaceship-prompt", from:github, use:spaceship.zsh, as:theme

zplug load
# ZPLUG END

echo zplug ending $(date +"%T.%3N") >> ~/init.txt
# Some basic environment

export EDITOR=vim
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$HOME/.local/bin:$PATH"

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL Section
export GIT_SSH_COMMAND="/mnt/c/WINDOWS/System32/OpenSSH/ssh.exe"
export GPG_TTY=$TTY

{{   end }}
# Generic LINUX section

{{ else if eq .chezmoi.os "darwin" -}}
# MACOS Section
echo brew start $(date +"%T.%3N") >> ~/init.txt
eval "$(/opt/homebrew/bin/brew shellenv)"
echo brew ending $(date +"%T.%3N") >> ~/init.txt
eval "$(chezmoi completion zsh)"
# export ZSH_DISABLE_COMPFIX="true"

{{ end -}}

if which pyenv > /dev/null; then
    alias check_all="printf 'pylint\\nblack\\nmypy' | parallel poetry run {} src"
    echo pyenv start $(date +"%T.%3N") >> ~/init.txt
    export PYENV_ROOT="$HOME/.pyenv"
    eval "$(pyenv init --path)"
    echo pyenv ending $(date +"%T.%3N") >> ~/init.txt
fi

# vim: set syntax=zsh:

echo ended at $(date +"%T.%3N") >> ~/init.txt
