HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt extendedglob nomatch notify
bindkey -e
zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'
autoload -Uz compinit
compinit

export VOLTA_HOME="$HOME/.volta"

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL Section
export GIT_SSH_COMMAND="ssh.exe"

{{   end }}
# Generic LINUX section

{{ else if eq .chezmoi.os "darwin" -}}
# MACOS Section
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="/opt/homebrew/opt/python3/libexec/bin:$PATH"

{{ end -}}

export PATH="$VOLTA_HOME/bin:$HOME/.local/bin:$PATH"

