HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt extendedglob nomatch notify
bindkey -e
zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'
autoload -Uz compinit
compinit

[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
export VOLTA_HOME="$HOME/.volta"

# ZPLUG START
source ~/.zplug/init.zsh

zplug romkatv/powerlevel10k, as:theme, depth:1

if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo
        zplug install
    fi
fi

zplug load
# ZPLUG END

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL Section
export GIT_SSH_COMMAND="ssh.exe"

{{   end }}
# Generic LINUX section
export EDITOR=vim

{{ else if eq .chezmoi.os "darwin" -}}
# MACOS Section
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="/opt/homebrew/opt/python3/libexec/bin:$PATH"

{{ end -}}

export PATH="$VOLTA_HOME/bin:$HOME/.local/bin:$PATH"

# vim: set syntax=zsh:

